name: Build Yocto Image

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        # this might remove tools that are actually needed,
        # when set to "true" but frees about 6 GB
        tool-cache: true

    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install kas and distutils
      run: pip install kas setuptools

    - name: Allow bitbake to create user namespace
      run: |
        sudo tee /etc/apparmor.d/bitbake > /dev/null <<'EOF'
        abi <abi/4.0>,
        include <tunables/global>
        profile bitbake /**/bitbake/bin/bitbake flags=(unconfined) {
                userns,
        }
        EOF

        sudo apparmor_parser -r /etc/apparmor.d/bitbake

    - name: Run kas checkout
      run: kas checkout

    - name: Build bitbake image
      run: |
        . openembedded-core/oe-init-build-env
        sudo apt-get update && sudo apt-get install -y chrpath diffstat
        bitbake kiss-image
      shell: bash

    - name: Confirm image location
      run: |
        ls -l ./tmp-glibc/deploy/images/dogbonedark/ || true
        ls -l ./build/tmp-glibc/deploy/images/dogbonedark/ || true
        tree . || true

    # - name: Upload Yocto image as artifact
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: yocto-image
    #     path: ./build/tmp-glibc/deploy/images/dogbonedark/kiss-image-dogbonedark.wic

